[Unit]
Description=rclone
After=network.target

[Service]
Type=simple
Environment=NAME=onedrive REMOTE=VPS LOCAL=/onedrive PARAMETER=--contimeout=10s --timeout=30s --transfers 20
ExecStart=rclone mount ${NAME}:${REMOTE} ${LOCAL} ${PARAMETER} --copy-links --no-gzip-encoding --no-check-certificate --allow-other --allow-non-empty --umask 000
Restart=on-failure

[Install]
WantedBy=multi-user.target